{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ wizard.form.media }}
{% endblock %}


{% block stylesheet %}
    <style>
        .formwizard{
            margin: 60px auto;
        }
    </style>
{% endblock stylesheet %}
    

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="formwizard">
                <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                <form action="" method="post">{% csrf_token %}
                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form }}
                        {% endfor %}
                    {% else %}
                        {% for field in wizard.form %}
                        <div class="form-group mb-2">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                            {{ field }}
                            <span class="message">{{ field.errors }}</span>
                        </div>
                        {% endfor %}
                    {% endif %}
                </table>
                {% if wizard.steps.prev %}
                <button class="btn btn-outline-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button class="btn btn-outline-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                {% endif %}
                <input class="btn btn-outline-primary" type="submit" value="{% trans "submit" %}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}